<html>
<head>
<style>
#trShow
{
	width: 80px;
	height: 80px;
	text-align: center;
	background-color: white
}
#trHide
{
	width:80px;
}
</style>
</head>
<body>
<table style="width: 100%">
<tr>
	<td id="trShow">1
	</td>
	<td id="trHide">
	</td>
	<td id="trShow">2
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">3
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">4
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">5
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">6
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">7
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">8
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">9
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">10
	</td>
</tr>
<tr>
	<td style="height:80px">
	</td>
</tr>
<tr>
	<td  id="trHide">
	</td>
	<td  id="trShow">1
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">2
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">3
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">4
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">5
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">6
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">7
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">8
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">9
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">10
	</td>
	</tr>
	<tr>
	<td style="height:80px">
	</td>
</tr>
<tr>
	<td  id="trShow">1
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">2
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">3
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">4
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">5
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">6
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">7
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">8
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">9
	</td>
	<td  id="trHide">
	</td>
	<td  id="trShow">10
	</td>
	</tr>
</table>
</body>
</html>