<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Meta tag Keywords -->
<!-- css files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">

</head>
<body>
<!--main-->
<div class="main-agileits" style="margin-top: 10%;">
	<h2 class="sub-head">Login</h2>
		<div class="sub-main">	
			<form action="/authuser" method="POST">
				<input placeholder="Username" name="name" class="name" type="text" required="">
					<span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span><br>
				<input  placeholder="Password" name="password" class="pass" type="password" required="">
					<span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span><br>
				<input type="submit" value="login" style="color:black">
				 <a href="MainPage1.html">Login<a>
			</form>
		</div>
		<div class="clear"></div>
</div>
<!--//main-->


</body>
</html>