<html>
<body>
<button class="accordion" id="scu" onclick="buttonclicked(this.id)">Santa Clara University</button>
<div class="panel">
  <a href="westside.html" target="3">West Side</a><br>
  <a href="eastside.html">East Side</a><br>
  <a href="northside.html">North Side</a><br>
  <a href="southside.html">South Side</a><br>
</div>
 <button class="accordion" id="pc" onclick="buttonclicked(this.id)">Par Central Apartments</button>
<div class="panel">
  <a href="frontside.html">Front Side</a><br>
  <a href="backside.html">Back Side</a><br>
</div>
<button class="accordion" id="Contact" onclick="buttonclicked(this.id)">Contact us</button>
<div class="panel">
  <p>Mobile phone</p>
</div>
</div>
</body>
</html>