
<!DOCTYPE html>
<html style='overflow: hidden;'>
<head><title>Smart Tow</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/dropdownmenu.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}

</style>
</head>
<body style="background: black;color: white">
<header class="w3-panel w3-center w3-opacity">
	 <h1 class="w3-xlarge">Towing Company
<!-- 	<div class="w3-bar w3-border" style="float: right;"><a href="Admin" class="w3-bar-item w3-button" style="float: right;font-size: small;">Back</a>
      </div> -->
    <div class="w3-padding-32">
    <div class="w3-bar w3-border">
    	
      <a href='/parkingDetails' class="w3-bar-item w3-button" style="font-size: small;">Parking Spaces</a>
      <a href="/addTow" class="w3-bar-item w3-button" style="font-size: small;">Towing Company Details</a>
      <a href="/addZone" class="w3-bar-item w3-button w3-white" style="font-size: small;">Zone Details</a>
      
      </div>
  </div>
   <button onclick="document.getElementById('add').style.display='block'" class="w3-button w3-black">Add Zone</button>
</header>
<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">
<div class="w3-container">

  <div id="add" class="w3-modal">
    <div class="w3-modal-content" style="width: fit-content;">
      <div class="w3-container">
        <span onclick="document.getElementById('add').style.display='none'" class="w3-button w3-display-topright" style="background-color: #8c8b8b;">&times;</span>
        <br><h1 style="color: black"> Add Zone</h1>
        <form action="/addZone" method="post">
        <br><table style="color: black">
        		<tr>
        			<td>Zone Name:
        			</td>
        			<td> <input type="text" name="name" value="">
        			</td>
        		</tr><tr><td><br> </td></tr>
        	</table>
        	<br>
        	<input type="submit" name="Submit"><br><br>
        	</form>
      </div>
    </div>
  </div>
</div>
</div>
<div class="w3-content" style="max-width:1500px">
<div class="w3-container">

  <div id="addP" class="w3-modal">
    <div class="w3-modal-content" style="width: fit-content;">
      <div class="w3-container">
        <span onclick="document.getElementById('addP').style.display='none'" class="w3-button w3-display-topright" style="background-color: #8c8b8b;">&times;</span>
        <br><h1 style="color: black"> Add Parking Details</h1>
        <form action="/addZoneP" method="post">
        <br><table style="color: black">
            <tr>
              <td>Parking Space Name:
              </td>
              <td> <input type="text" name="name" value="">
              </td>
            </tr><tr><td><br> </td></tr>
            <tr>
              <td>Number of Lots:
              </td>
              <td> <input type="text" name="noOfLots" value="">
              </td>
            </tr>
            <tr>
              <td> <input type="hidden"  id ='zoneVal' name="zoneName" value="">
              </td>
            </tr>
          </table>
          <br>
          <input type="submit" name="Submit" onClick='setValue();'><br><br>
          </form>
      </div>
    </div>
  </div>
</div>
</div>
<div style='overflow:auto; height: 370px;'>
<% for(var i=0; i<Zone.length; i++) {%>
<button class="accordion" id="<%= Zone[i].name %>" onclick="buttonclicked(this.id)"><span><%= Zone[i].name %></span></button>
<div class="panel">
  <br>
    <button onclick="document.getElementById('addP').style.display='block'" class="w3-button w3-black">Add Parking Space Details</button>
    <br>
    <center><br>
    <table border='1'>
      <tr>
        <td> Parking Space Name</td>
        <td> Number of lots </td>
      </tr>
     <% var zoneName=Zone[i].name;
        var statusVal="";
        for(var j=0; j<ParkingSpace.length; j++) {
       if(zoneName==ParkingSpace[j].zone){%>
       <tr><td>
         <%= ParkingSpace[j].name %></td>
        <td> <%= ParkingSpace[j].numberOfLots %></td>
      </tr>
    <%
      }} %>
    </table></center>
    <br>
</div>
<% } %>
</div>
<!-- Footer -->
<script src="js/dropdownmenu.js"></script>

<!-- The Modal -->